<div class="editable">
  <div class="editable__esquina" aria-hidden="true"></div>

  @for (dia of cabeceras(); track $index) {
    <div class="editable__dia" [title]="dia.completo">
      <span class="editable__dia-largo">{{ dia.abrev }}</span>
      <span class="editable__dia-corto">{{ dia.estrecho }}</span>
    </div>
  }

  @for (hora of horas; track hora) {
    <div class="editable__hora">{{ i18n.t('rejilla.hora', { hora }) }}</div>

    @for (dia of cabeceras(); track $index; let i = $index) {
      <button type="button"
              class="celda"
              [class.celda--pintada]="estaPintada(i, hora)"
              (click)="alternar(i, hora)"
              [attr.aria-pressed]="estaPintada(i, hora)"
              [attr.aria-label]="etiquetaDeCelda(i, hora)"></button>
    }
  }
</div>
